@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=PT+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --font-openSans: 'Open Sans', sans-serif;
  --font-ptSans: 'PT Sans', sans-serif;

  --white-color: #fff;
  --black-color: #000;
}

body {
  overflow-x: hidden;
}