@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=PT+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --font-openSans: 'Open Sans', sans-serif;
  --font-ptSans: 'PT Sans', sans-serif;

  --color-white: #fff;
  --color-black: #000;

  --color-orange: hsl(24, 89%, 51%);
  --color-yellow: hsl(40, 82%, 89%);
  --color-yellowish: hsl(26, 12%, 62%);
}

body {
  overflow-x: hidden;
  font-family: var(--font-openSans)
}

a {
  text-decoration: none;
}

ul, li {
  list-style: none;
}